* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0a0a0a;
  color: white;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
}

header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.hero img {
  width: 140px;
  border-radius: 50%;
  border: 3px solid #6c63ff;
}

/* BUTTONS */
.btn {
  background: #6c63ff;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.btn.outline {
  background: transparent;
  border: 1px solid #6c63ff;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #6c63ff;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  color: #6c63ff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
}

/* SCROLL SMOOTH */
html {
  scroll-behavior: smooth;
}
